:root {
    --primary-color: yellowgreen;
    --secondary-color: #1d3c4d;
    --tertiary-color: #236a72;
  }

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  article {
    padding: 1em;
    grid-gap: 1em;
  }

/* Begin header */
header {
    background-image: url('../images/Port-1.jpg');
    display: flex;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-between;
    flex: row wrap;
    padding: 15px 35px;
    background-attachment: fixed;
    background-position: top;
    background-size: 50%; 
    position: sticky;
    z-index: 9999;
  }
  
  header h1 {
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    right: 10px;
    bottom: 10px;
    padding: 2px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    background-color: rgba(54, 69, 79, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: yellowgreen;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 10px 10px 10px;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  
  /* HEADER / Navbarstyles end */

  /* HERO start */
  .hero {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    background-image: url('../images/Port-1.jpg');
    background-position: center;
    background-size: 50%;
    min-height: 30vh;
  }

  #hero-flex {
    padding: 10px;
    height: 50px;
    width: auto;
  }

  .hero-cta h2 {
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    background-color: rgba(54, 69, 79, 0.8);
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  

  /* HERO end */
  
/* ABOUT ME start*/
.wrapper-for-main {
  display: grid;
  grid-template-columns: 15% 80%;
  grid-gap: 2em;
  grid-auto-rows: minmax(150px);
  Padding: 10px
  }

.wrapper-for-main div {
  padding: 1em;
  grid-gap: 1em;
  border-right: 3px solid var(--tertiary-color);
}

/* ABOUT ME end*/

/* HEADER two */

.wrapper-for-main h2 {
   font-size: 2.8vw;
   text-align: end;
   overflow: auto;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   overflow: hidden;
}

.about-me p {
  padding: 10px 0 10px 0
}

  /* GRID AND GRID STYLE start */
      /* WORK start */

  .grid-wrapper {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
  }

  .grid-item a {
    background-color: rgba(54, 69, 79, 0.8);
    border-radius: 4px;
    padding: 2px 8px 2px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 0px;
  }

  .grid-wrapper div {
  border: 4px var(--tertiary-color) solid;
  border-radius: 5px;
  padding-right: 50px;
  background-color: var(--tertiary-color);
  padding: 0;

  }

  .grid-wrapper a {
  border: 4px var(--tertiary-color) solid;
  border-radius: 25px;
  padding-right: 50px;
  }

  .wd {
    overflow: hidden;
  }

  .grid-item {
    grid-column: span 4;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 5px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    border-radius: 10px;
  }
  
  .grid-item:first-child {
      grid-column: span 8;
      grid-row: span 2;
  }

  .grid-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
 
  .grid-item h3 {
    font-size: 1.6rem;
    color: var(--primary-color);
  }

  .grid-item p {
    color: var(--primary-color);
  }

  .work-grid-container-1 div {
   border: 4px var(--tertiary-color) solid;
   border-radius: 15px;
  }

  .work-grid-container-1 a {
    background-color: var(--secondary-color);
    padding: 8px;
  }
  .work-grid-1 {
    background-image: url("../images/boredinthehousegif.gif");
    background-size: cover;
  }

  .work-grid-2 {
    background-image: url("../images/tech_blog.gif");
    background-size: cover;
  }

  .work-grid-3 {
    background-image: url("../images/screen_shot_1.png");
    background-size: cover;
  }

  .work-grid-4 {
    background-image: url("../images/run-buddy-screenshot.png");
    background-size: cover;
  }

  .work-grid-5 {
    background-image: url("../images/horiseon-screenshot.png");
    background-size: cover;
  }

  .work-grid-6 {
    background-image: url("../images/sports-screenshot.png");
    background-size: cover;
  }

/* GRID AND GRID STYLE end */
  /* WORK end */

  /* CONTACT-ME start */
  
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-bottom: 30px;
}

.contact-me div {
  border-bottom: 2px #ccc solid;
  padding: 5px;
  justify-content: stretch;
  align-self: center;
} 

.contact-me a {
  padding: 10px 5px 8px 5px;
  margin: 10px 0px 24px 0;
  border-bottom: 5px solid;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5vw;
  color: var(--tertiary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-me a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

  /* CONTACT-ME end */
  
/* @media screen and (max-width: 768px) START */

  @media screen and (max-width: 768px) {
    section {
    }
      header {
        background-size: 70%;
      }
    }

  /* @media screen and (max-width: 768px) END */


  /* @media screen and (max-width: 575px) START */


  @media screen and (max-width: 575px) {
    .media-queries {
     
    }
    header {
      flex-direction: column;
      position: relative;
      padding-bottom: 0;
      justify-content: center;
      font-size: 1.4vw;
      align-items: center;
    }

    header h1 {
      height: 20px;
      font-size: 10px;
      width: 25%;
      text-align: center;
    }

    .hero {
      background-size: 100%;
    }

    .hero-cta h2 {
      width: 186px;
      height: 29px;
      font-size: 9px;
      padding: 8px;
      text-align: center;
    }

    .wrapper-for-main {
      grid-template-columns: 1fr;
    }

    .wrapper-for-main h2 {
      font-size: 20px;
      text-align: center;
    }

    .wrapper-for-main div {
      border-bottom: 2px solid;
      border-right: 0;
      width: 75%;
      margin: 0 auto 0px auto;
    }

    .grid-wrapper {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .grid-wrapper div {
      font-size: 10px;
      padding: 0px 50px 0 0;
      margin: 0;
    }

    .grid-item {
      grid-template-columns: 1fr 1fr;
      width: fit-content;
    }

    .grid-item h3 {
      font-size: 18px;
    }
    
    .work-grid-3 {
      grid-column: 1;
    }
   
    .work-grid-5 {
      grid-column: 1;
    }
    
    .work-grid-2 {
      grid-column: 1;
    }
   
    .work-grid-4 {
      grid-column: 1;
   }

   .contact-me {
     display: inline-grid;
     margin: 15px auto;
   }

  .contact-me a {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  footer {
    text-align: center;
  }
}

/* @media screen and (max-width: 575px) END */

 